@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Space Mono", monospace;
  }
 
  :root {
      font-size: 62.5%;
      --jagged-ice: #C5E4E7;
      --white: #FFF;
      --sherpa-blue: #00474B;
      --greyish-turquoise: #5E7A7D;
      --topaz: #26C2AE;
      --regent-grey: #7F9D9F;
      --squeeze: #F3F9FA;
      --beetle-green: #547878;
      --water-leaf: #9FE8DF;
  }
 
  body {
              font-weight: 700;
              text-transform: uppercase;
      }

  
  @media(min-width: 920px) {
      header {
          margin-top: 5rem;
      }
  
      main{
          display: flex;
          max-width: 92rem;
          margin-inline: auto;
          padding: 4.8rem;
          border-radius: 2.5rem;
          gap: 4.8rem;
  
          section{
              width: 100%;
          }
      }
  
      .info {
          .tip div {
              grid-template-columns: repeat(3, 1fr);
  
              button:hover {
                  background: var(--topaz);
                  cursor: pointer;
                  transition: .3s;
              }
          }
      }
  
      input::-webkit-inner-spin-button,
      input::-webkit-outer-spin-button {
          display: none;
      }
  
      .results {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 4rem;
  
          .amount strong,
          .total strong {
              font-size: 4.8rem;
          }
  
          button:hover {
              background: var(--water-leaf);
              transition: .3s;
              cursor: pointer;
          }
      }
    }